extends base.pug
block scripts
  script(src='/static/index.js')


block style
   style
      include ../static/style.css
      include ../static/stylecontact.css
block content
   div.container
      h1 this is contact

      form(action="/contact",method="post",class="myform")
         input(type="text",class="myinput",name="nmae" placeholder="enter your name")
         input(type="phone",class="myinput",name="phone" placeholder="enter your phone")
         input(type="email",class="myinput",name="email" placeholder="enter your email")
         input(type="text",class="myinput",name="adderes" placeholder="enter your adderes")
         input(type="desc",class="myinput",name="desc" placeholder="enter your desc")
         button(class="btn")
             |submit